body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.navitem {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  flex-flow: row;
  flex: 1 1 100px;
  margin: 1rem;
  justify-content: space-between;
}

.hamburger {
  background-color: transparent;
  justify-content: right;
  border: none;
  outline: none;
}

.content-container {
  width: 100vw;
  height: 85vh;
  min-height: 85vh;
  background-position-y: top;
  display: flex;
  background-color: rgb(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.content {
  -webkit-overflow-scrolling: touch;
}

h1,
.h3-first,
div,
section {
  color: white;
  font-family: 'Crete Round', serif;
  width: 100vw;
}

.h3-first {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 87.2%;
}

h1,
section {
  margin: 0% 0%;
  width: 87.2%;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex-direction: row;
  align-content: stretch;
}

h1 > span {
  flex-direction: column;
  justify-content: left;
  color: #ff6b00;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
}

div > span {
  width: 87.2%;
}

.self-intro {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  justify-content: left;
  width: 87.2%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.8);
  min-width: 375px;
  width: 100vw;
  margin: 0%;
  height: 15.6vh;
  min-height: 100px;
  max-height: 144px;
}

.body-container {
  max-height: 100vh;
  width: calc(100vw - 48px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.body-container > * {
  flex: 1 1 auto;
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: inherit;
  width: 60%;
  margin: 2vh 0%;
  margin-top: 0%;
  margin-left: -30vw;
}

.decorative-background {
  background-image: url("Icons/background-shapes.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 300px;
}

a {
  text-decoration: none;
  padding: 0;
}

ul,
li {
  list-style: none;
}

.flex-sections {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.projects-grid {
  justify-self: center;
  display: grid;
  grid-template-columns: auto;
  height: auto;
  list-style: none;
}

.projects-grid > * {
  display: flex;
  text-align: center;
  color: black;
  margin: auto 24px;
  background-color: transparent;
  height: 682px;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0%;
  height: auto;
  align-items: center;
  margin: 0% 12px 12px 12px;
}

.grid-item-generic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0%;
  margin: 12px 24px;
  min-height: 386px;
  background-image: url("Icons/img-placeholder2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.multi-post-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 12px 0% 12px;
}

.recent-works {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  height: 97px;
  min-width: 327px;
  border-bottom: 1px solid rgb(21, 21, 21);
  justify-self: center;
  margin: 0%;
  padding: 0%;
  letter-spacing: 0.866666px;
}

.recent-works > span {
  line-height: 36px;
}

.recent-works-outer {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 120px 0%;
  padding: 0%;
  justify-content: center;
}

section.content {
  min-height: 670px;
  height: 670px;
  min-width: 375px;
  width: 100vw;
  margin: 0%;
}

ul.projects-grid {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

h2.recent-works-outer {
  margin: 0%;
  padding: 0%;
  align-items: center;
}

.multi-post-title {
  color: black;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  justify-content: flex-start;
  min-width: 327px;
  width: 87.2vw;
  height: 36px;
  margin: 12px 0%;
  padding: 0%;
  text-align: left;
}

.multi-post-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  text-align: left;
  min-width: 327px;
  width: 87.2vw;
  margin: 12px 0%;
}

.language-btns-container {
  display: flex;
  padding: 0%;
  min-width: 327px;
  width: 87.2vw;
  margin: 12px 0%;
}

.language-btn {
  padding: 10px 12px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #8993a4;
  margin-right: 12px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #091e42;
}

.see-project {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  width: fit-content;
  margin: 12px 0%;
  padding: 10px 12px;
  background-color: #ff6b00;
  color: white;
  line-height: 24px;
  justify-content: flex-start;
}

li.grid-item > a.see-project-outer {
  min-width: 327px;
  width: 87.2vw;
  margin: 0% 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

li.grid-item-generic > a.see-project-outer-generic {
  min-width: 327px;
  width: 327px;
  height: 48px;
  background-color: #ff6b00;
  position: relative;
  bottom: -50px;
  margin: 0%;
  padding: 0%;
  display: flex;
}

a.see-project-outer-generic > * {
  margin: 0%;
  width: 100%;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: white;
  text-align: left;
  height: 81px;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 295px;
  min-width: 295px;
}

.grid-item-generic > .project-info {
  display: flex;
}

.project-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-align: left;
  margin: 12px auto;
  height: 87px;
}

h3.project-title {
  margin: auto 0%;
}

.btn-generic {
  background-color: rgb(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.language-btns-container-generic {
  display: flex;
  padding: 0%;
  min-width: 295px;
  width: 295px;
  margin: 12px 0%;
}
