body,
html {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.navitem {
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  flex-flow: row;
  margin: 1rem;
  width: fit-content;
  justify-content: space-between;
}

.hamburger {
  border: none;
  outline: none;
  float: right;
}

.content-container {
  width: 100%;
  height: calc(100vh - 80px);
  min-height: 590px;
  background-position-y: top;
  display: flex;
  background-color: #1c1a19;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  -webkit-overflow-scrolling: touch;
}

h1,
.h3-first,
div,
section {
  color: white;
  font-family: 'Crete Round', serif;
  width: 100%;
}

.headline {
  margin-left: 24px;
}

.h3-first {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  width: 87.2%;
}

h1,
section {
  margin: 0% 0%;
  width: 87.2%;
}

h1 {
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  flex-direction: row;
  align-content: stretch;
}

h1 > span {
  flex-direction: column;
  justify-content: left;
  color: #ff6b00;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
}

div > span {
  width: 87.2%;
}

.self-intro {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
  justify-content: left;
  width: 87.2%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.8);
  min-width: 375px;
  width: 100%;
  margin: 0%;
  height: auto;
  min-height: 80px;
}

.body-container {
  max-height: 100vh;
  width: 100%;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.media-icons {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-start;
  flex-wrap: wrap;
  width: 60%;
  max-width: 225px;
}

.article-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  max-height: 20px;
  width: 87.2%;
}

.headline-icon {
  margin: 0%;
  padding: 0%;
  vertical-align: bottom;
  justify-content: flex-start;
  display: flex;
}

ul.media-icons {
  padding: 0%;
  margin: 0%;
}

.decorative-background {
  background-image: url("Icons/background-shapes.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 220px;
}

a {
  text-decoration: none;
  padding: 0;
  color: inherit;
}

ul,
li {
  list-style: none;
}

.flex-sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid-container {
  padding: 0%;
}

.grid-container-outer {
  padding-bottom: 108px;
}

.projects-grid {
  justify-self: center;
  display: grid;
  height: auto;
  max-width: 100%;
  list-style: none;
}

.projects-grid > * {
  display: flex;
  text-align: center;
  justify-self: center;
  color: black;
  margin: auto 24px;
  background-color: transparent;
  height: 682px;
  justify-content: center;
  flex-direction: column;
  border: none;
  padding: 0%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding: 0%;
  height: auto;
  align-items: center;
  margin: 0% 12px 12px 12px;
}

.grid-item-generic {
  align-self: center;
  justify-content: center;
  margin: 12px 24px;
  min-height: 386px;
  height: 386px;
  width: 327px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item-generic:hover {
  box-shadow: 0 6px 16px rgb(213, 213, 213);
}

.multi-post-stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 12px 0% 12px;
}

.multi-post-image > img {
  max-height: 512px;
}

.multi-post-stories-column {
  width: auto;
}

.recent-works {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  height: 97px;
  min-width: 327px;
  border-bottom: 1px solid #091e42;
  justify-self: center;
  margin: 0%;
  padding: 0%;
  letter-spacing: 0.866666px;
}

.recent-works > span {
  line-height: 36px;
  color: #091e42;
}

.recent-works-outer {
  display: flex;
  flex-direction: column;
  height: calc(304px - 240px);
  margin: 120px 0%;
  margin-top: 40px;
  padding: 0%;
  justify-content: center;
}

section.content {
  min-width: 375px;
  height: auto;
  width: 100%;
  margin: 0%;
}

ul.projects-grid {
  margin: 0%;
  padding: 0%;
  width: 100%;
}

h2.recent-works-outer {
  margin: 0%;
  padding: 0%;
  align-items: center;
}

.multi-post-title {
  color: black;
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  justify-content: flex-start;
  min-width: 327px;
  width: 87.2vw;
  height: 36px;
  margin: 12px 0%;
  padding: 0%;
  text-align: left;
}

.multi-post-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  text-align: left;
  min-width: 327px;
  width: 87.2vw;
  margin: 12px 0%;
}

.language-btns-container {
  display: flex;
  padding: 0%;
  min-width: 327px;
  width: 87.2vw;
  margin: 12px 0%;
  flex-wrap: wrap;
  min-height: auto !important;
  gap: 8px;
}

.language-btn {
  padding: 10px 12px;
  background-color: white;
  box-sizing: border-box;
  border: 1px solid #8993a4;
  margin-right: 12px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  color: #091e42;
}

.see-project {
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  width: auto;
  margin: 12px 0%;
  padding: 10px 12px;
  background-color: #ff6b00;
  color: white;
  line-height: 24px;
  justify-content: flex-start;
  border: 1px solid transparent;
}

.see-project:hover {
  border: 1px solid #ff6b00;
  color: #ff6b00;
  background-color: bisque;
  box-shadow: 0 6px 16px rgb(213, 213, 213);
  box-sizing: border-box;
}

.see-project:active {
  border: 1px solid transparent;
  color: white;
  background-color: #da5b00;
}

.see-project:disabled {
  color: gray;
  background-color: beige;
}

li.grid-item > a.see-project-outer {
  min-width: 327px;
  width: 87.2vw;
  margin: 0% 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

li.grid-item-generic > a.see-project-outer-generic {
  width: 100%;
  max-width: inherit;
  height: 48px;
  background-color: #ff6b00;
  position: relative;
  bottom: 0 !important;
  margin: 0%;
  margin-top: auto;
  padding: 0%;
  display: flex;
}

.preview-langs > * {
  text-align: center;
  display: inline;
  height: 36px;
  border: 1px solid #000;
  padding: 10px;
  font-family: "Inter", sans-serif;
  background: none;
  margin-right: 12px;
}

.main-project-links > * {
  width: auto;
}

a.see-project-outer-generic > * {
  margin: 0%;
  width: 100%;
}

div.see-project-outer {
  display: block;
  width: 87.2%;
  justify-content: left;
  background-color: transparent;
}

div.see-project > * {
  width: 137px;
}

.project-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  height: 81px;
  color: red;
  -webkit-text-stroke: 0.5px #da5b00;
  text-shadow: -2px 0 2px blue;
}

.project-info {
  display: flex;
  flex-direction: column;
  width: 295px;
  min-width: 295px;
  flex-grow: 1;
  margin-top: 86px;
  align-self: center;
}

.grid-item-generic > .project-info {
  display: flex;
}

.project-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin: 12px auto;
  height: 87px;
  color: rgb(0, 255, 251);
  -webkit-text-stroke: 0.5px #3d4225;
  text-shadow: -2px 0 2px rgb(102, 0, 255);
  -webkit-font-smoothing: antialiased;
}

h3.project-title {
  margin: auto 0%;
}

.btn-generic {
  float: left;
  background-color: rgb(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: white;
}

.language-btns-container-generic {
  padding: 0%;
  min-width: 295px;
  width: 295px;
  margin: 12px 0%;
}

.no-project {
  height: 108px;
}

li > section.about-me {
  height: auto;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.h2-adjust-about-me {
  max-width: 87.2%;
}

section.about-me > * {
  margin: 12px 0%;
  height: auto;
  justify-content: center;
}

.h3-about-me-main {
  color: #ff6b00;
  height: auto;
  min-height: 79px;
  font-family: 'Crete Round', sans-serif;
  font-size: 72px;
  font-weight: 400;
  font-style: normal;
  line-height: 88px;
  letter-spacing: 0.37px;
  text-align: left;
  align-content: flex-start;
}

h3.h3-about-me-main {
  margin-top: 120px;
  height: auto;
  width: 87.2%;
}

.about-me-text {
  height: auto;
  width: 87.2%;
  margin: calc(12px + 2px) 0%;
  text-align: start;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
}

.decorative-background2 {
  margin: 0%;
  min-height: auto;
  background-color: #262626;
  background-image: url("Icons/background-shapes2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: calc(370px - calc(160vw / 16));
}

.get-resume {
  float: left;
  max-width: max-content;
  box-sizing: border-box;

  /* min-width: 137px; */
}

* > .get-resume {
  width: 87.2vw;
}

hr {
  min-width: 87.2%;
  border: 1px solid white;
}

section.about-me > div.empty-space {
  margin: 70.4px 0%;
}

section.about-me > div.empty-space2 {
  margin: 54px 0%;
}

section.about-me-knowledge {
  display: flex;
  justify-content: center;
  height: auto;
}

div.knowledge,
ul.knowledge {
  padding: 0%;
  margin-bottom: 32px;
  list-style: none;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.h3-about-me {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  width: 299px;
  height: auto;
  align-self: center;
  align-items: center;
}

.h3-adjust-text {
  width: 87.2%;
}

.floated-bullet {
  max-height: 18px;
  max-width: 18px;
  min-height: 18px;
  min-width: 18px;
  background-color: #ff6b00;
  float: left;
  z-index: -1;
  left: -10px;
  transform: translateY(8px);
}

.bullet1 {
  transform: rotate(45deg) translateY(10px);
  left: 20%;
}

.bullet2 {
  left: 15%;
}

.bullet3 {
  border-radius: 50%;
  left: 30%;
}

.h3-about-me-outer {
  width: 100%;
  height: auto;
  margin: 0%;
  display: block;
}

ul.knowledge > li {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 16px 0%;
  padding: 0%;
  align-items: center;
}

li > span.language {
  font-family: 'Inaimathi', sans-serif;
  font-size: 44px;
  font-weight: 400;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 100%;
  min-width: 375px;
  height: auto;
  margin-bottom: 112px;
}

.form-child {
  align-self: center;
}

.form-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0%;
  width: 100%;
}

* > .form-text {
  width: 100%;
}

.form {
  width: 87.2%;
}

.form-input {
  width: 87.2%;
  min-height: 48px;
  height: auto;
  padding: 14px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  color: #979493;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  margin: 12px auto;
  outline: none;
}

.footer {
  width: 100%;
  height: auto;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #dfe1e6;
}

footer.footer > .media-icons {
  align-self: center;
  justify-content: space-evenly;
  vertical-align: bottom;
  color: black;
  list-style: none;
  margin: 0%;
  padding: 0%;
  filter: invert(50%);
}

.footer-icon {
  margin: 0%;
  padding: 0%;
  vertical-align: bottom;
  justify-content: flex-end;
  display: flex;
}

.comments-input {
  background-color: #fbf8f7;
  border: none;
}

.form > ul {
  padding: 0%;
  margin: 0%;
}

.submit-button {
  border: 1px solid transparent;
}

.form > .submit-button {
  align-self: center;
}

div.form-child {
  display: flex;
  justify-content: center;
}

.bottom-black-bar {
  background-color: #0d151e;
  height: 5px;
  width: 35.7333%;
  position: relative;
  bottom: -20px;
  left: calc(50% - 35.7333% / 2);
  border-radius: 10px;
}

.mobile-hide {
  display: none;
}

.preview-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(2px);
  background-color: rgb(0, 0, 0, 0.2);
}

.preview-container.active {
  display: flex;
}

.preview {
  display: flex;
  width: 90%;
  height: 89.253731343%;
  color: #091e42;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  padding: 12px 0%;
  margin: 5.373134328% 0%;
}

.preview-divtop {
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.preview-title {
  text-align: left;
  width: 94%;
  color: #091e42;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: unset;
  margin-bottom: 16px;
}

.preview-img {
  max-height: 280px;
  height: auto;
  max-width: 94%;
}

.preview-langs {
  width: 94%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.preview-container .preview-card {
  display: inline-block;
  filter: none;
  height: 100vh;
  width: 100%;
}

.preview-container .preview-card.active {
  display: inline-block;
}

.cross-menu2 {
  background-image: url("Icons/x-menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  min-height: 16px;
  display: flex;
  align-items: flex-end;
}

.cross-menu2:hover {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}

.preview-icon {
  display: flex;
  align-items: flex-end;
  width: 94%;
  flex-direction: row-reverse;
  height: 16px;
}

.preview-text {
  width: 94%;
}

.preview-buttons {
  display: flex;
  justify-content: space-between;
  width: 94%;
}

.cross-menu {
  background-image: url("Icons/x-menu.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
}

.close-card {
  min-width: 16px;
  min-height: 16px;
}

.form-response {
  font-family: 'inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  margin-left: 20px;
}

.success {
  color: #1c8b1c;
}

.unsuccess {
  color: hsl(0, 82%, 47%);
}

.valid-state {
  border-color: #1c8b1c;
}

.valid-state::-webkit-input-placeholder {
  color: #1c8b1c;
}

.invalid-state {
  border-color: hsl(0, 82%, 47%);
}

.invalid-state::-webkit-input-placeholder {
  color: hsl(0, 82%, 47%);
}

.valid-state-comments {
  background-color: rgb(106, 175, 106, 0.2);
}

.valid-state-comments::-webkit-input-placeholder {
  color: #1c8b1c;
}

.invalid-state-comments {
  background-color: rgb(187, 81, 81, 0.2);
}

.invalid-state-comments::-webkit-input-placeholder {
  color: hsl(0, 82%, 47%);
}

.main-project-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
}

.open-project {
  width: 100%;
}

/* Media queries for desktop */

@media screen and (min-width: 1025px) {
  .decorative-background {
    background-image: url("Icons/background-shapes-full.png");
    background-position-y: top;
    background-position-x: right;
  }
}

@media screen and (min-width: 768px) {
  /* Header */
  .header {
    min-height: 72px;
  }

  .mobile-hide {
    display: flex;
    justify-content: flex-start;
  }

  .menu-show > * {
    width: auto;
  }

  .navitem {
    justify-content: center;
    width: fit-content;
    align-self: center;
  }

  .name {
    position: relative;
    left: 25%;
  }

  .hamburger {
    display: none;
  }

  /* Headline */
  .content-headline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 72px);
  }

  .content > * {
    display: flex;
    flex-direction: column;
    padding-left: 9.930555%;
  }

  .decorative-background {
    height: calc(100vh - 72px);
  }

  .headline {
    width: 100%;
    margin-left: 0%;
  }

  .headline > * {
    width: 100%;
    margin: 0%;
    margin: 12px 0%;
  }

  .headline-info {
    width: 39.30555%;
  }

  .intro {
    align-content: flex-start;
  }

  h1 {
    font-size: 72px;
    line-height: 82px;
    margin: 12px 0%;
  }

  .h3-first {
    font-size: 32px;
    line-height: 44px;
    font-weight: 500;
  }

  .self-intro {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
  }

  .clear-div {
    padding: 0%;
    margin: 0%;
    display: flex;
  }

  .article-icons {
    width: 8%;
    height: 250px;
    justify-content: center;
  }

  .article-icons > * {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 100%;
  }

  .media-icon {
    justify-content: space-around;
  }

  ul.media-icons-top {
    min-height: 30vh;
  }

  .bigscreen-flex {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  /* Projects */
  .grid-container-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 108px;
  }

  .grid-container {
    height: auto;
    margin: 0%;
    padding: 0%;
  }

  .grid-container > .flex-grid {
    max-width: 87.2%;
  }

  ul.projects-grid {
    max-width: 83.6111%;
    align-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 381px);
    gap: 22px;
    row-gap: 37px;
    margin-top: 24px;
  }

  .grid-item {
    max-width: 100%;
  }

  .grid-item > * {
    max-width: 100%;
  }

  .grid-item-top-pc {
    max-width: 83.6111%;
    height: 448px;
    align-self: center;
  }

  .recent-works-outer {
    max-width: 83.5111%;
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 0% 12.5px;
    height: min-content;
  }

  h2.recent-works {
    border: none;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .recent-works > span {
    letter-spacing: 0.05px;
    color: #091e42;
    min-width: 315px;
  }

  .recent-works-line {
    border: 0;
    max-width: 70.079435128%;
    min-width: unset;
    width: 794px;
    border-bottom: 1px solid black;
    height: 1px;
    padding: 0%;
    padding-left: 24px;
  }

  .multi-post-image-outer {
    height: max-content !important;
    max-width: 75%;
  }

  .multi-post-stories-outer {
    flex-direction: row;
    width: 100%;
    padding: 0%;
    margin: 0%;
    justify-content: space-between;
  }

  .multi-post-stories {
    padding-right: 12px;
  }

  .multi-post-image {
    align-content: center;
    max-width: 648px;
    flex-grow: 2;
  }

  .multi-post-image > img {
    background-size: contain;

    /* width: 100%; */
    max-height: 512px;
    vertical-align: middle;
    float: right;
    padding-right: 12px;
  }

  .multi-post-stories-column {
    flex-direction: column;
    align-self: flex-start;
    width: 38.754325259%;
    max-width: 448px;
    min-width: auto;
    padding: 0%;
    margin: 0%;
    flex-grow: 4;
  }

  .multi-post-stories-column > * {
    width: fit-content;
  }

  .multi-post-title {
    margin-top: 0%;
    min-width: auto;
    width: auto;
    height: auto;
  }

  .h3-second {
    font-size: 40px;
    min-width: 315px;
    color: #091e42;
  }

  .multi-post-text {
    font-size: 20px;
    color: #091e42;
    min-width: auto;
  }

  .contain-on-pc {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
  }

  .grid-item-generic {
    width: 369px;
    min-width: 369px;
    height: 435px;
    margin: 0%;
    border: 1px solid transparent;
  }

  .project-info {
    margin: 0%;
    width: 90%;
    position: relative;
    height: 80%;
    bottom: -10%;
  }

  .grid-item-generic:hover {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: redo-card;
  }

  .grid-item-generic:hover .project-info {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: no-project-info;
  }

  .see-project-outer-generic {
    opacity: 0;

    /* min-width: 369px; */
  }

  .grid-item-generic:hover .see-project-outer-generic {
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: no-project-btn;
  }

  @keyframes redo-card {
    to {
      border: 1px solid black;
    }
  }

  @keyframes no-project-info {
    from {
      opacity: 1;
      transition: opacity 1s;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes no-project-btn {
    from {
      opacity: 0;
      transition: opacity 1s;
    }

    to {
      opacity: 1;
      border: none;
    }
  }

  .see-project-outer:hover {
    display: block;
  }

  /* About Me */
  .about-me {
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-name: about-me-background;
  }

  @keyframes about-me-background {
    to {
      background-image: url("Icons/background-shapes2-full.png");
      background-position-y: calc(320px - calc(160vw / 13));
      background-size: calc(50% - calc(160vw / 13));
    }
  }

  .about-me > *:nth-child(-n+3) {
    max-width: 50%;
    position: relative;
    align-self: flex-start;
    padding-left: 142px;
  }

  .about-me-text {
    max-width: 566px;
    width: 566px;
    font-size: 20px;
    line-height: 32px;
  }

  div.knowledge {
    width: calc(80.2777% / 3);
    flex-direction: row;
    flex: 1;
  }

  /* Form */
  .form-container {
    flex-direction: row;
    margin-top: 24px;
  }

  .form-text {
    width: 39.122957867%;
    height: max-content;
    margin: 0%;
    margin-left: 135px;
    text-align: left;
    font-size: 40px;
    line-height: 52px;
    font-weight: 700;
  }

  .form {
    width: 47.5%;
    margin-right: 142px;
    padding-top: 32px;
    position: relative;
    bottom: 0%;
  }

  form.form > div.form-child {
    display: block;
    width: 100%;
    margin-left: calc(100% * calc(1 - calc(0.6166 / 0.6458188)));
  }

  /* Footer */
  .bottom-black-bar {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * > .headline {
    width: 169%;
  }

  .content-headline {
    min-height: calc(100vh - 72px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1156px) {
  .multi-post-text {
    font-size: 14px;
  }

  .language-btns-container {
    flex-grow: 7;
    align-items: center;
    height: auto;
    width: auto;
  }

  .language-btn > * {
    margin: 0%;
  }

  .contain-on-pc {
    min-width: unset;
    margin: 0%;
  }

  ul.contain-on-pc {
    height: 100px;
  }

  .multi-post-stories-column {
    height: 100%;
    flex-grow: 4;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .form-text {
    font-size: 30px;
    font-weight: 800;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header.active {
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header.active .brand:nth-child(1) {
    display: none;
  }

  .header.active .brand:nth-child(2) {
    height: 80px;
  }

  .header.active .brand:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.5%;
  }

  .header.active a.navitem2:nth-child(-n+3) {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    align-self: flex-start;
    padding-left: 16px;
    width: 87.5%;
    border-bottom: 1px solid #6f6c6b;
  }

  .header.active a.navitem2:nth-child(n+4) {
    display: none;
  }

  .header.active div.brand a.hamburger {
    height: 12px;
    width: 12px;
    position: relative;
    right: 5.8666%;
    top: 38px;
  }

  .header.active div.brand a.hamburger > * {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .preview {
    display: grid;
    grid-template-areas: "ptitle ptitle ptitle" "plangs plangs ." "pimg pimg ptext" "pimg pimg ptext" "pimg pimg pbuttons";
    gap: 0;
    height: 89.253731343%;
    min-height: 600px;
    width: fit-content;
    color: #091e42;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    justify-content: center;
    padding: 20px;
    margin: 5.373134328% 0%;
  }

  .preview-divtop {
    grid-area: ptitle;
    width: 100%;
  }

  .preview-title {
    margin: 0;
  }

  .preview-langs {
    grid-area: plangs;
  }

  .preview-buttons > * {
    margin-right: 10px;
  }

  .preview-img {
    grid-area: pimg;
    max-height: 448px;
  }

  .preview-text {
    grid-area: ptext;
    max-width: 360px;
    grid-row-end: auto;
  }

  .preview-buttons {
    grid-area: pbuttons;
    justify-content: flex-start;
  }

  #button1.open-project {
    margin-right: 10px;
  }
}
